*{
    margin: 0;
    padding: 0;
}

nav {
    margin: 50px;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid
}