/* The following is the created stylesheet for the navigation
bar.
This code was taken from the starter code provided from the below link
https://nile.northampton.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1   */
*{
    margin: 0;
    padding: 0;
 }


 nav {
    margin: 50px;
    text-align: center;
 }


.containerNav{
    display: flex;
    justify-content: center;
    align-items: center;   
}

 /*".containerIntro" was taken from code challenge in lecture week 7 product of Liz Coulter-Smith*/
 .containerIntro{
    display: flex;
    justify-content: center;
    align-items: center;
}


 ul{
    overflow: auto;
    list-style-type: none;
    text-align: center;
 }

 li {
    height: 27px; 
    /*Used a 7px frame to ensure the box doesnt present a standard navigation to relocate the bar to fit 
    the screen size, having it as 27px means that it fits better and doesnt have resizing issues */
    float: left;
    margin-right: 0px;
    border-right: 5px solid rgb(0, 0, 0);
    padding: 0 20px;
 }
 li:last-child {
     border-right: none;

 }
 li a {
     text-decoration: none;
     color: rgb(180, 233, 226);
     font: 25px/1 Helvetica, Verdana, sans-serif;
     text-transform: uppercase;
     transition: all 1s ease;     
 }

 li a:hover {
     color: rgb(80, 3, 42);
 }
/* I chose the 'Shadows into light two font from google fonts to present a more authentic handwritten style*/
 h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3em;
 }

 h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3em;
 }

 /*This is the stylesheet created for the
 image on the landing page */






 .item {
     text-align: 200px;
     border-radius: 100%;
     height: 240px;
     width: 240px;
 }




 .profile {
     height: 300px;
     border-style: none;
     border-radius: 100%;
     filter: drop-shadow(0);
 }

 .github {
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 100%;
    opacity: 0.5;
}

.github:hover{
    opacity: 1;
}

 .container:hover{
     filter: drop-shadow(20px 20px 30px rgb(135, 240, 135));
     /*The above line was taken from https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
     border-style:none;
     border-radius: 100%;
     transition: background-size 0.5s ease;
     transition: background-size 0.5s ease;
 }

 body{
     text-align: center;
 }

 /* The next section of CSS code is the styling for the video background taken
 from week7 lecture code challenges, credit of Liz Coulter-Smith*/

 .backgroundvid {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #333333;
     background: rgba(0, 0, 0, 0.25);

     background-image: linear-gradient(
         145deg,
         rgba(228, 109, 109, 0.614),
         rgba(23, 107, 110, 0.733)
     );
    
     color: white;
     margin-bottom: 0px;
     position: relative;
     overflow: hidden;
     min-height: 100vh;
 }

 .video-bg{
     position: absolute;
     z-index: -1;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     min-width: 100%;
     min-height: 100%;
 }

 .intro{
     text-align:center;
     width: 80%;
     margin: 0 auto;
     max-width: 960px;
 }

 .row{
     display: flex;
 }

 .col {
     padding: 0 15px;
     flex: center;
 }