/* The following is the created stylesheet for the navigation
bar.
This code was taken from the starter code provided from the below link
https://nile.northampton.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1   */
*{
    margin: 0;
    padding: 0;
    background-color: rgb(166, 198, 204);
 }

 ul a{
        text-decoration: none; /*This is used to prevent the text from being underlined as a link*/
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        transition: all 1 ease;
        font-size: 25px;
    } 
    
ul a:hover{
    color: rgba(240, 14, 119, 0.61);
}
 nav {
    margin: 50px;
    text-align: center;
 }

 /*".containerNav" was taken from code challenge in lecture week 7 product of Liz Coulter-Smith*/
 .containerNav {
    display: flex;
    justify-content: center;
    align-items: center;
}


 ul{
    overflow: auto;
    list-style-type: none;
    text-align: center;
 }

 li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 5px solid rgb(0, 16, 107);
    /* I chose to use an alternating theme for both the portfolio page and the contact page
    on this page, the contacts page, i used a blue bar colour and red text to fit a faded blue background
    where as the colours used on the portfolio page are inverted, the text is blue, bars dark red and the background
    a faded red colour. This was used to create an alternating dynamic for the page to focus more on the changes
    of display */
    padding: 0 20px;
 }
 li:last-child {
     border-right: none;

 }
 li a {
     text-decoration: none;
     color: rgb(241, 12, 12);
     font: 25px/1 Helvetica, Verdana, sans-serif;
     text-transform: uppercase;
     transition: all 1s ease;     
 }

 li a:hover {
     color: rgb(80, 3, 42)
 }




    /* - testing changes made
 h1 {
     font-family: 'Raleway', sans-serif;
 }
 */
