/* The following is the created stylesheet for the navigation
bar.
This code was taken from the starter code provided from the below link
https://nile.northampton.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1   */
*{
    margin: 0;
    padding: 0;
    
 }


/* This body class was created so that i could assign the second page a background colour without
it having an impact on my index.html page*/
 body.portfolioBG{
     background-color: #607D8B;
 }

 nav {
    margin: 50px;
    text-align: center;
 }


.containerNav{
    display: flex;
    justify-content: center;
    align-items: center;   
}

 /*".containerIntro" was taken from code challenge in lecture week 7 product of Liz Coulter-Smith*/
 .containerIntro{
    display: flex;
    justify-content: center;
    align-items: center;
}


 ul{
    overflow: auto;
    list-style-type: none;
    text-align: center;
 }

 li {
    height: 27px; 
    /*Used a 7px frame to ensure the box doesnt present a standard navigation to relocate the bar to fit 
    the screen size, having it as 27px means that it fits better and doesnt have resizing issues */
    float: left;
    margin-right: 0px;
    border-right: 5px solid rgb(0, 0, 0);
    padding: 0 20px;
 }
 li:last-child {
     border-right: none;

 }
 li a {
     text-decoration: none;
     color: rgb(180, 233, 226);
     font: 25px/1 Helvetica, Verdana, sans-serif;
     text-transform: uppercase;
     transition: all 1s ease;     
 }

 li a:hover {
     color: rgb(80, 3, 42);
 }
/* I chose the 'Shadows into light two font from google fonts to present a more authentic handwritten style*/
 h1 {
    font-size: 3em;
 }
 .index {
    font-family: 'Shadows Into Light Two', cursive;
 }

 .portfolio {
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #000000;
 }
 h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3em;
 }

 /*This is the stylesheet created for the
 image on the landing page */




 .item {
     text-align: 200px;
     border-radius: 100%;
     height: 240px;
     width: 240px;
 }




 .profile {
     height: 300px;
     border-style: none;
     border-radius: 100%;
     filter: drop-shadow(0);
 }
/* the images / icons are resized for 50 x 50 on sqoosh and set to 50px x 50px within the programme both
set to have a low opacity and change to a higher value on hover*/
 .github {
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 100%;
    opacity: 0.5;
}

.github:hover{
    opacity: 1;
}

.facebook{
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 100%;
    opacity: 0.5;}

.facebook:hover{
    opacity: 1;
}

.insta{
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 100%;
    opacity: 0.5;}

.insta:hover{
    opacity: 1;
}

 .container:hover{
     filter: drop-shadow(20px 20px 30px rgb(135, 240, 135));
     /*The above line was taken from https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
     border-style:none;
     border-radius: 100%;
     transition: background-size 0.5s ease;
     transition: background-size 0.5s ease;
 }

 body{
     text-align: center;
 }

 /* The next section of CSS code is the styling for the video background taken
 from week7 lecture code challenges, credit of Liz Coulter-Smith*/

 .backgroundvid {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #333333;
     background: rgba(0, 0, 0, 0.25);

     background-image: linear-gradient(
         145deg,
         rgba(228, 109, 109, 0.614),
         rgba(23, 107, 110, 0.733)
     );
    
     color: white;
     margin-bottom: 0px;
     position: relative;
     overflow: hidden;
     min-height: 109vh;
     
 }

 .video-bg{
     position: absolute;
     z-index: -1;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     min-width: 100%;
     min-height: 100%;
 }

 .intro{
     text-align:center;
     width: 80%;
     margin: 0 auto;
     max-width: 960px;
 }

 .row{
     display: flex;
 }

 .col {
     padding: 0 15px;
     flex: center;
 }

 /*The following code is for the CSS grid created on the portfolio page, most of the
 tags overlap with the index.html file*/

 
 :root {
    font-size: 75.5%;
    font-family: Montserrat, sans-serif;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.containerGrid{
    width: 96rem;
    margin: 2rem auto;
}

.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(300px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(150px, auto);
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: 170px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-item:hover .image{
    filter: grayscale(1);
}

.gallery-item:hover .middle{
    opacity: 1;
}

.gallery-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    font-size: 2.5em;
    padding: 16px 32px;
    font-family: Oswald, sans-serif;
}

@media (max-wdith: 500px){
    .gallery-item, 
    body {
        max-width: 30px;
        grid-column: 2;
        font-family: Oswald, sans-serif;
        text-align: left;
    }
    
    div.containerGrid, h1 {
        text-align: left;
        margin-left: 2em;
    }

    div.text {
        font-size: 2.5em
    }
}

